[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip = "*"
setuptools = "*"
black = "==19.3b0"
doc8 = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
wheel = "*"

[packages]
isogeo-pysdk = {file = "https://github.com/isogeo/isogeo-api-py-minsdk/archive/master.zip"}
python-dotenv = "*"
openpyxl = "*"

[requires]
python_version = "3.6"
