[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip = "*"
setuptools = "*"
black = "==19.3b0"
doc8 = "*"
flake8 = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
wheel = "*"
isogeo-migration-toolbelt = {editable = true,path = "."}

[packages]
isogeo-pysdk = "==3.2.*"
python-dotenv = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
