[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pip = "*"
setuptools = "*"
black = "==19.3b0"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
wheel = "*"

[packages]
isogeo-pysdk = ">=3"
python-dotenv = "*"
openpyxl = "*"
chardet = "*"

[requires]
python_version = "3.6"
