-i https://pypi.org/simple

# Common requirements
# -----------------------

setuptools
wheel>=0.35.1

# Project requirements
# -----------------------

isogeo-pysdk>=3.4.2
openpyxl>=3.0.5
python-dotenv

# Dev requirements
# -----------------------

black==19.3b0
doc8
flake8
pre-commit
pylint>=2.6.0
pytest<6.2
pytest-cov>=2.10.1
sphinx
