-i https://pypi.org/simple

# Common requirements
# -----------------------

setuptools
wheel

# Project requirements
# -----------------------

isogeo-pysdk>=3.4.2
openpyxl
python-dotenv

# Dev requirements
# -----------------------

black==19.3b0
doc8
flake8
pre-commit
pylint
pytest<6.1
pytest-cov
sphinx
