-i https://pypi.org/simple

# Common requirements
# -----------------------

pip
setuptools
wheel

# Project requirements
# -----------------------

isogeo-pysdk>=3.2.5,<3.3
openpyxl
python-dotenv

# Dev requirements
# -----------------------

black==19.3b0
doc8
flake8
pre-commit
pylint
pytest
pytest-cov
sphinx
